
		p{ text-align: center;color:#408080; }
		div{background color: #FFFFFF; }
		li{display:inline;font-size: 40px; }
		a:hover{background-color: #F2400B}
		li a{padding: 8px 16px;
		     width: 60px;
		     display:inline;
		     border-radius:5px;
		     list-style: none;
		     text-decoration: none; }
		     ul{display: inline;
		     	padding: 0;
		     	margin: 0;
		     	list-style-type: none;
		     	text-underline-position: none;
		     	border-radius: 5px;}
		     #Manu{text-align:right;
		     	color:#4BEB2E; } .Steve img{width: 30px;} .Steve{text-align: center;padding: 10px;float: left;}
		     	#footer{background-color: red;
		     		padding: 20px;
		     		display: block;
		     		text-align: center;
		     		color:#FFFFFF}
		     	body{background-image: url("../pictures/fencing.jpg/");
		     	     background-repeat: no-repeat;
		     	     background-size: 100%;}
		     	  #Moks{background-color: blue;
		     	  	text-align: center;
		     	  	width: 60px;
		     	  	height: 60px;
		     	  	margin-right: 20px;
		     	  	margin-left: 20px;
		     	  	background-size: 100%; }
